{{include '../../tpls/header.html'}}
<body>

<link rel="stylesheet" type="text/css" href="/views/product/productList/css/index.css">


<div class="container">
	{{include '../../tpls/topNav.html'}}
	
	<div class="product-con">
		<a href="javascript:;" class="product-sec">
			<div class="product-conduction">
				<span class="productIcons">持有3个月可转</span>
			</div>
			<div class="product-body">
				<div class="product-body-left">
					<div class="top">
						<span class="t1">11.0</span>
						<span class="t2">%</span>
					</div>
					<div class="bottom">历史年化</div>
				</div>
				<div class="product-body-middle">
					<div class="top">
						<span class="t1">18</span>
						<span class="t2">个月</span>
					</div>
					<div class="bottom">项目期限</div>
				</div>
				<div class="product-body-right">
					<div class="top">
						<span class="t3">68,560</span>					
						<span class="t2">元</span>					
					</div>
					<div class="bottom">可投金额</div>
				</div>
			</div>
			<div class="product-footer">
				<div class="product-footer-left">车抵贷G20180816012</div>
				<div class="product-footer-right">
					<div class="loading-container">
						<span class="t1" style="width: 100%"></span>						
					</div>
					<span class="t2">100%</span>
				</div>
			</div>
		</a>

		<a href="javascript:;" class="product-sec">
			<div class="product-conduction">
				<span class="productIcons">持有3个月可转</span>
			</div>
			<div class="product-body">
				<div class="product-body-left">
					<div class="top">
						<span class="t1">11.0</span>
						<span class="t2">%</span>
					</div>
					<div class="bottom">历史年化</div>
				</div>
				<div class="product-body-middle">
					<div class="top">
						<span class="t1">18</span>
						<span class="t2">个月</span>
					</div>
					<div class="bottom">项目期限</div>
				</div>
				<div class="product-body-right">
					<div class="top">
						<span class="t3">68,560</span>					
						<span class="t2">元</span>					
					</div>
					<div class="bottom">可投金额</div>
				</div>
			</div>
			<div class="product-footer">
				<div class="product-footer-left">车抵贷G20180816012</div>
				<div class="product-footer-right">
					<div class="loading-container">
						<span class="t1" style="width: 100%"></span>						
					</div>
					<span class="t2">100%</span>
				</div>
			</div>
		</a>

		<a href="javascript:;" class="product-sec">
			<div class="product-conduction">
				<span class="productIcons">持有3个月可转</span>
			</div>
			<div class="product-body">
				<div class="product-body-left">
					<div class="top">
						<span class="t1">11.0</span>
						<span class="t2">%</span>
					</div>
					<div class="bottom">历史年化</div>
				</div>
				<div class="product-body-middle">
					<div class="top">
						<span class="t1">18</span>
						<span class="t2">个月</span>
					</div>
					<div class="bottom">项目期限</div>
				</div>
				<div class="product-body-right">
					<div class="top">
						<span class="t3">68,560</span>					
						<span class="t2">元</span>					
					</div>
					<div class="bottom">可投金额</div>
				</div>
			</div>
			<div class="product-footer">
				<div class="product-footer-left">车抵贷G20180816012</div>
				<div class="product-footer-right">
					<div class="loading-container">
						<span class="t1" style="width: 100%"></span>						
					</div>
					<span class="t2">100%</span>
				</div>
			</div>
		</a>

		<a href="javascript:;" class="product-sec">
			<div class="product-conduction">
				<span class="productIcons">持有3个月可转</span>
			</div>
			<div class="product-body">
				<div class="product-body-left">
					<div class="top">
						<span class="t1">11.0</span>
						<span class="t2">%</span>
					</div>
					<div class="bottom">历史年化</div>
				</div>
				<div class="product-body-middle">
					<div class="top">
						<span class="t1">18</span>
						<span class="t2">个月</span>
					</div>
					<div class="bottom">项目期限</div>
				</div>
				<div class="product-body-right">
					<div class="top">
						<span class="t3">68,560</span>					
						<span class="t2">元</span>					
					</div>
					<div class="bottom">可投金额</div>
				</div>
			</div>
			<div class="product-footer">
				<div class="product-footer-left">车抵贷G20180816012</div>
				<div class="product-footer-right">
					<div class="loading-container">
						<span class="t1" style="width: 100%"></span>						
					</div>
					<span class="t2">100%</span>
				</div>
			</div>
		</a>
	</div>
</div>
{{include '../../tpls/bottomNav.html'}}
{{include '../../tpls/footer.html'}}

<script src="/views/product/productList/js/index.js"></script>
</body>
</html>