{{include '../tpls/header.html'}}

<link rel="stylesheet" href="views/login/css/index.css">
<body>

<div class="container">
	<img src="views/login/images/bg.png" class="banner">
	<div class="login-con">
		<div class="mobile-con box">
			<i class="mobile-ico"></i>
			<input type="text" placeholder="请输入手机号码">
		</div>
		<div class="password-con box">
			<i class="password-ico"></i>
			<input type="text" placeholder="请输入密码">
		</div>
		<div class="loginBtn">立即登录</div>
		<div class="registerBtn">注册领福利</div>
		<p class="forget"><a href="javascript:;">忘记密码?</a></p>
	</div>
</div>

{{include '../tpls/bottomNav.html'}}
{{include '../tpls/footer.html'}}
<script src="views/login/js/index.js"></script>
</body>
</html>